.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
    color: #fff;
    text-shadow: none;
    font-size: 18px;
}

.page_primary_action {
    float: right;
}

.search-form .clear-form-button {
    float:right;
}