/* FOUC prevention ************/

.js-on option.fouc {
    display: none;
}
.js-on label.fouc {
    display: none;
}
.js-on input.fouc {
    display: none;
}
.js-on button.fouc {
    display: none;
}
.js-on #advancedsearch.fouc {
    /* display:none; */
    visibility: hidden;
}

/******************************/

.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
    color: #fff;
    text-shadow: none;
    font-size: 18px;
}

a.logo img {
    max-width: 262px;
}

@media (min-width: 768px) {
    .hero {
	background: url("../../../base/images/cern_server-room5.jpg");
    }
}

div#content.container {
    min-width: 535px;
}

.page_primary_action > a.btn-primary{
    float: right;
    margin-bottom: 10px;
}

.select2-container-multi .select2-choices {
    min-height: 53px;
}

.h4searchlabel {
    margin-bottom: 0px;
}

select.filterselect {
    height:60px;
    overflow:auto;
}

.presearchboxtext {
    margin: 5px;
    width: 355px;
}

.clear-filter-group {
    float: right;
}

/* Advaced search section *************************/
.form-inline .advsearchbutton > li {
    background-color: #eaeaea;
}

.search-form input.wide-search {
    width: 355px;
}

.search-form #advancedsearch div.search-input {
    float:left;
    margin-right:5px;
}
/***************************************************/

/* Time- and vocabulary search input ***************/
.search-form .search-input button.outsidebutton  {
    right: -25px;
}

.search-form .search-input button.outsidebutton.second  {
    right: -50px;
}

.search-form .search-input .outsidebutton i {
    color: #000000;
    font-size: 120%;
}
/***************************************************/

div.time-search {
    float:left;
    margin-right:5px;
}

.time-search.error {
    color: #b55457;
}

.time-search.error input{
    border-color: #b55457;
    border-width: medium;
}

.modal-body table {
    table-layout:fixed;
}

.modal-body span {
    font-weight: bold;
}

.modal-body table th.col1 {
    width: 23ex;
}

.modal-body table th.col2 {
    width: 23ex;
}

.modal-body table th.col3 {
    width: 30ex;
}

.modal-body table tr {
    border-bottom: solid black 1px;
}

.modal-body table th {
    text-align: left;
}

.dataset-heading .badge {
    float:right;
}

.badge > a, .label > a {
    color: #ffffff;
}

a.package_desc {
    color: #000000;
}

.search-form .search-input.search-giant button {
    margin-top: -5px;
}

form.module-content.search-form .search-input.search-giant button {
    margin-top: -15px;
}

input.shortinput {
    width: 206px;
}

input.medinput {
    width: 270px;
}
.control-medium .medinput ~ .error-block {
    width: 268px;
}

.control-medium .select2-container-multi ~ .error-block {
    width: 294px;
}

select.shortinput {
    width: 220px;
}

select.medinput {
    width: 270px;
}

div.info-block.info-inline.shorthelp {
    width: 240px;
    color: black;
    margin-top: -8px;
}

.form-horizontal .control-medium div.info-block.info-inline {
    width: 240px;
    color: black;
    margin-top: -8px;
}

#dataset-edit .icon-info-sign:before{
    content: "\f05a";
    font-size: 20px;
}

#resource-edit .icon-info-sign:before{
    content: "\f05a";
    font-size: 20px;
}

#dataset-edit button.outsidebutton {
    background:transparent;
    border: none;
}

#resource-edit button.outsidebutton {
    background:transparent;
    border: none;
}

#dataset-edit .select2-container-multi.select2-container .select2-choices {
    width: 320px;
}

textarea.eaw_with_infobutton {
  width: 90%;
}

.additional-info th {
  width: auto;
}
.additional-info td {
  width: 500px;
}
.additional-info table {
  table-layout: auto;
}

div.controls.editor div.eaw_with_infobutton {
  display: inline-block;
  width: 90%;
  vertical-align: middle;
}
