.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
    color: #fff;
    text-shadow: none;
    font-size: 18px;
}

a.logo img {
    max-width: 262px;
}

@media (min-width: 768px) {
    .hero {
	background: url("../../../base/images/cern_server-room5.jpg");
    }
}

.page_primary_action > a.btn-primary{
    float: right;
    margin-bottom: 10px;
}

.select2-container-multi .select2-choices {
    min-height: 53px;
}

.h4searchlabel {
    margin-bottom: 0px;
}

select.filterselect {
    height:60px;
    overflow:auto;
}

.presearchboxtext {
    margin: 5px;
    width: 355px;
}

.form-inline .advsearchbutton {
    margin:0px;
    display:none;
 
}

.clear-filter-group {
    float: right;
}

.form-inline .advsearchbutton > li {
    background-color: #eaeaea;
}

.search-form .search-input button.outsidebutton  {
    right: -25px;
}

.search-form .search-input button.outsidebutton.second  {
    right: -50px;
}

.search-form .search-input .outsidebutton i {
    color: #000000;
    font-size: 120%;
}

.modal-body table {
    table-layout:fixed;
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
}

.modal-body span {
    font-weight: bold;
}

.modal-body table th.col1 {
    width: 23ex;
}

.modal-body table th.col2 {
    width: 23ex;
}

.modal-body table th.col3 {
    width: 30ex;
}

.modal-body table tr {
    border-bottom: solid black 1px;
}

.modal-body table th {
    text-align: left;
}

.dataset-heading .badge {
    float:right;
}

.badge > a, .label > a {
    color: #ffffff;
}

a.package_desc {
    color: #000000;
}

.search-form .search-input.search-giant button {
    margin-top: -5px;
}

form.module-content.search-form .search-input.search-giant button {
    margin-top: -15px;
}