/* FOUC prevention ************/

.js-on option.fouc {
    display: none;
}
.js-on label.fouc {
    display: none;
}
.js-on input.fouc {
    display: none;
}
.js-on button.fouc {
    display: none;
}
.js-on #advancedsearch.fouc {
    /* display:none; */
    visibility: hidden;
}

/******************************/

.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
    color: #fff;
    text-shadow: none;
    font-size: 18px;
}

a.logo img {
    max-width: 262px;
}

div.homepage.layout-3 {
  background: url("/base/images/airbubbles.jpg");
  background-size: 100%;
}

@media (min-width: 768px) {
  [role=main],
  .main {
    padding-top: 10px;
    background: url("../../../base/images/bg.png");
  }
}

.toolbar ol.breadcrumb {
  background: rgb(245, 245, 245);
  padding: 5px;
}

div#content.container {
    min-width: 535px;
}

.page_primary_action > a.btn-primary{
    float: right;
    margin-bottom: 10px;
}

.select2-container-multi .select2-choices {
    min-height: 53px;
}

.h4searchlabel {
    margin-bottom: 0px;
}

select.filterselect {
    height:60px;
    overflow:auto;
}

.presearchboxtext {
    margin: 5px;
    width: 355px;
}

.clear-filter-group {
    float: right;
}

/* Advaced search section *************************/
.form-inline .advsearchbutton > li {
    background-color: #eaeaea;
}

.search-form {
  clear: both;
}

.search-form input.wide-search {
    width: 355px;
}

.search-form #advancedsearch div.search-input {
    float:left;
    margin-right:5px;
}
/***************************************************/

/* Time- and vocabulary search input ***************/
.search-form .search-input button.outsidebutton  {
    right: -25px;
}

.search-form .search-input button.outsidebutton.second  {
    right: -50px;
}

.search-form .search-input .outsidebutton i {
    color: #000000;
    font-size: 120%;
}
/***************************************************/

div.time-search {
    float:left;
    margin-right:5px;
}

.time-search.error {
    color: #b55457;
}

.time-search.error input{
    border-color: #b55457;
    border-width: medium;
}

.modal-body table {
    table-layout:fixed;
}


.modal-body table th.col1 {
    width: 23ex;
}

.modal-body table th.col2 {
    width: 23ex;
}

.modal-body table th.col3 {
    width: 30ex;
}

.modal-body table tr {
    border-bottom: solid black 1px;
}

.modal-body table th {
    text-align: left;
}

.dataset-heading .badge {
    float:right;
    margin-left: 2ex;
    margin-bottom: 1ex;
    background-color: #708FAF;
}

.badge > a, .label > a {
    color: #ffffff;
}

a.package_desc {
  color: #000000;
  text-decoration: none;
}

.search-form .search-input.search-giant button {
    margin-top: -14px;
}

form.module-content.search-form .search-input.search-giant button {
    margin-top: -15px;
}

input.shortinput {
    width: 206px;
}

input.medinput {
    width: 270px;
}
.control-medium .medinput ~ .error-block {
    width: 268px;
}

.control-medium .select2-container-multi ~ .error-block {
    width: 294px;
}

select.shortinput {
    width: 220px;
}

select.medinput {
    width: 270px;
}

div.info-block.info-inline.shorthelp {
    width: 240px;
    color: black;
    margin-top: -8px;
}

.form-horizontal .control-medium div.info-block.info-inline {
    width: 240px;
    color: black;
    margin-top: -8px;
}

#dataset-edit .fa-info-circle:before{
    content: "\f05a";
    font-size: 20px;
}

#resource-edit .fa-info-circle:before{
    content: "\f05a";
    font-size: 20px;
}

#dataset-edit button.outsidebutton {
    background:transparent;
    border: none;
}

#resource-edit button.outsidebutton {
    background:transparent;
    border: none;
}

/* #dataset-edit .select2-container-multi.select2-container .select2-choices { */
/*   width: 320px; */
/* } */

#dataset-edit div.select2-container.select2-container-multi {
  width: 90%;
  display: inline-block;
}
textarea.eaw_with_infobutton {
  width: 90%;
}

@media (max-width: 768px) {
  input.eaw_with_infobutton {
    width: 90%;
  }
}

@media (min-width: 980px) {
  input.eaw_with_infobutton {
    width: 87.5%;
  }
}

.additional-info th {
  width: auto;
}
.additional-info td {
  width: 500px;
}
.additional-info table {
  table-layout: auto;
}

div.modal-help {
  font-size: large;
}
.modal-help .modal  {
  width: 750px;
  max-width:95%;
  left:auto;
  margin-left: -200px;
}
.modal-help .modal-body {
  max-height: 600px;
}

/* eigenj's comment here: */
/* https://github.com/nostalgiaz/bootstrap-switch/issues/469#issuecomment-226196951 */

.bootstrap-switch-container {
  white-space: nowrap;
}

div.well.well-small {
  background-color: #F7F5F3;
}

div.well.well-small:hover {
  background-color: #CBE8EC;
}

.dataset-heading a {
  text-decoration: none;
}

li.resource-item:hover {
  background-color: #CBE8EC;
}

/* spatial_query.css */
.module-narrow #dataset-map-container {
  height: 400px;
}

/* vertical line btween secondary & primary content */
@media (min-width: 768px) {
  .wrapper {
    background-image: None;
  }
}

/* horizontal lines betwen facets */
.nav-simple > li, .nav-aside > li {
  border-bottom: none;
}

/* remove background & border facet headings */
.module-heading {
  background-color: white;
  border: 0;
}

.module .read-more {
  /* font-weight: bold; */
  font-weight: normal;
  font-style: italic;
  color: #005976;
}

section#dataset-map {
  margin: 0;
}