<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
      
      <p>Organizations correspond to Eawag <b><i>departments</i></b> and
    <b><i>research groups</i></b>.
      </p><p>
      Each data package is associated with a research group or a department.
    </p><p>
      Authorization to create, edit, delete and view data packages is managed on the level of organizations.
    </p><p>
      <b><i>Data Managers</i></b> have administrative rights for their respective organization(s) and can
      <ul>
	<li>assign organization membership</li>
	<li>assign permissions to users</li>
	<li>modify the organization description</li>
      </ul>
      {% endtrans %}
    </p>
  </div>
</div>
