<div style="font-size:120%;">
<h2 style="font-size:140%;text-align:center;">Preview of the Eawag Research Data Institutional Repository (ERIC)</h2>

<p> This is a preview of the the new release of Eawag's research data
repository. It features a <b>new meta-data schema</b> that is better adapted to
  user's needs, <b>improved workflow support</b>, <b>new functionality</b> such
  as <i>restricted resources</i>, <b>usability improvements</b> and bug
fixes.</p>

<div style="border:1px;border-style:solid;padding:5px 30px 5px 30px;box-shadow:10px 10px;background-color:yellow; margin:30px">
<h3>Usage</h3>

<p>The preview phase is for real-world testing. Please<p>
  <ul>
    <li>Explore the system to your heart's content</li>
    <li>Upload dummy packages, try out all the features you can find.</li>
    <li>Try weird things you normally wouldn't.</li>
    <li>Please send bug reports and usabilty problem reports
      to <a href="mailto:rdm@eawag.ch">rdm@eawag.ch</a>.</li>
  </ul>
</p>
</div>
<div style="border:1px;border-style:solid;padding:5px 30px 5px 30px;box-shadow:10px 10px;background-color:yellow; margin:30px">
  <h3>NO REAL DATA</h3>
<p>After the preview phase, <b>the database will be cleaned. Do not
    put data exclusively here.</p>
<p>For <b>real packages, use the service
at <a href="https:eaw-ckan-dev1.eawag.wroot.emp-eaw.ch"
target="_blank">https:eaw-ckan-dev1</b> <i class="fa
fa-external-link-square fa-lg"></a></b></i>.</p>
</div>

<h3>Underlying software</h3>
<ul>
  <li>The CKAN has been upgraded from version 2.5.2 to version
  2.7.3<a href="https://github.com/ckan/ckan/blob/ckan-2.7.3/CHANGELOG.rst"
  target="_blank">
      <i class="fa fa-external-link-square fa-lg"> </i></a>.</li>
  <li>The search platform SOLR has been upgraded from version 5.3.1 to
    version
    6.5.0<a href="http://lucene.apache.org/solr/6_5_0/changes/Changes.html"
    target="_blank"> <i class="fa fa-external-link-square
			      fa-lg"></i></a>.</li>
    <li>The database Postgres has been upgraded from version 9.4.15 to version 9.6.9
      <a href="https://www.postgresql.org/docs/9.6/static/release-9-6-9.html"
	 target="_blank"> <i class="fa fa-external-link-square
	 fa-lg"></i></a>.</li>
</ul>
<h3>Server</h3>
<p>Instead of on a single virtual machine (VM), Postgres and SOLR now
run on a separate server. The storage backend is now connected to the
new storage system at Eawag which provides a total storage capacity of
  11 TB for ERIC.</p>

<div >
  <h3>Timeline (anticipated)</h3>
  <ul>
    <li>End of preview: <b>2018-08-19</b></li>
    <li>Final bug-fixes and polishing: <b>2018-08-20 to 2018-08-26</b></li>
    <li>Start of operational phase (you will be notified): <b>2018-08-27</b></li>
  </ul>
</div>

{% block secondary %}
<div style="margin-bottom:-30px;margin-top:30px;">
  hvw/2018-07-27
</div>
{% endblock %}
