<div class="module-content box">
  <h1> Important Information</h1>
  <ul>
    <li><b style="font-size:larger">Use of data in this
	repository<br /><span style="background-color:yellow;">only with
	permission</span> from <i>Author</i> or <i>Usage Contact</i>!</b></li>

	<li><b style="font-size:larger">Making available data in this
	 repository outside Eawag <span style="background-color:yellow;">only with
	    permission</span> from <i>Author</i> or <i>Usage Contact</i>!</b></li>
	    <li><b style="font-size:larger">This repository is currently in
	      its <a href="http://www.internal.eawag.ch/kc/rdm/pilot/index">pilot-phase</a>.<br /><span style="background-color:yellow">No
	      guarantee for data-safety.</span></b></li>
  </ul>
</div>
