<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Projects?') }}
  </h2>
  <div class="module-content">
    <p>
    {% trans %}
    <p>You can use projects to create and manage
      <i><b>collections of data packages</b></i>.</p>
    <p>Projects can contain packages
      from different organizations.</p>
    <p>A project can for example
      represent a research project, a PhD thesis, or a cross-cutting
      topic.</p>
    <p>Projects are just another way to help people find what they are looking for.</p>
    <p><b>Everybody can create a project</b> and become <i>project
	administrator</i> who can add and remove data packes to and from her project.</p>
    {% endtrans %}
    </p>
  </div>
</div>
