{# Adds dataset-extent map to dataset-page #}
{% ckan_extends %}

{% block package_description %}
  {{ super() }}
{# We include a filed "spatial" through ckanext-scheming. It is not in "extras" #}
  {% set dataset_extent = c.pkg_dict['spatial'] %}
  {% if dataset_extent and dataset_extent != "{}" %}
    {% snippet "spatial/snippets/dataset_map.html", extent=dataset_extent %}
{% endif %}
{% endblock %}

{% block primary_content_inner %}
  {{ super() }}
  {% resource 'eaw_theme/clickwholedivs.js' %}
{% endblock %}
