{# Enable spatial_query in search-sidebar #} 

{% ckan_extends %}

{% block secondary_content %}

<div>
  {% snippet "spatial/snippets/spatial_query.html", default_extent=[[46,7], [48,9.5]] %}
</div>
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>

{% endblock %}

 
